html, body {
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  background: rgb(2,0,36);
  background-image: url(../images/vaporwave.gif);
  background-position: 80% 25%;
  background-attachment: fixed;
  margin-bottom: 0;
}

.header-bg {
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
}
