html, body {
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(157deg, rgba(2,0,36,1) 0%, rgba(201,0,255,1) 0%, rgba(0,212,255,1) 100%);
  margin-bottom: 0;
}

.header-bg {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
